quest/16_multimedia_images.json
{
  "name": "16_multimedia_images_1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "이미지 생성",
        "formDescription": "프롬프트 명령에 의한 이미지 생성",
        "formFields": {
          "values": [
            {
              "fieldLabel": "input_image",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -560,
        -160
      ],
      "id": "b142a5f5-a7a1-464d-9015-ddcf5196458d",
      "name": "On form submission",
      "webhookId": "51aaae4c-7dcf-48cf-9003-5133a4ee239d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAMPF4_8OxMKyiisE6xu4m3h2kTP_rjAQc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\n        \"text\": \"이미지 속 인물 이미지를 마녀 모자를 쓴 원숭이 이미지로 바꿔 줘.\"\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"{{ $('On form submission').item.json.input_image.mimetype }}\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        -160
      ],
      "id": "93a226cf-b701-4663-af7c-f0de8adaabc2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -160
      ],
      "id": "5b1e7aa0-742c-4039-a38f-8a94d20becfd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "input_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -352,
        -160
      ],
      "id": "3240fa1c-12c3-4d11-9b6a-b53fc6fba77f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "name": "input_image",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1s3TN3pQCkaIpgJuHhB08fifDIwPCXfTT",
          "mode": "list",
          "cachedResultName": "Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1s3TN3pQCkaIpgJuHhB08fifDIwPCXfTT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -160
      ],
      "id": "07057076-129e-4cdd-b384-70a35406d2fa",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H7fydS3U5I1d4p4o",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "사진 변환기",
        "formDescription": "프롬포트를 입력하여 첨부한 이미지를 변환합니다. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "input_image",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        304,
        864
      ],
      "id": "5d5661b0-2659-4080-a144-a207a6f0ba6a",
      "name": "On form submission1",
      "webhookId": "e9a96a6e-0a6b-48fa-b44c-ac61eea1289e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCYsGuL6AD2ceEvoAAPfB7iqntH1Htd-Mk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('On form submission1').item.json.prompt }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        864
      ],
      "id": "324c4261-43ba-4ef8-b2ef-71e31748a95f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        864
      ],
      "id": "9d7126eb-dedf-48ad-8f37-7ce6f087cffd",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "input_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        864
      ],
      "id": "8a8adc6f-7954-4a53-957c-14b657235012",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "name": "output_image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "16o6-biYPH7ovFINthxzoua87ntNFf6FO",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        864
      ],
      "id": "6111325b-6299-480c-9c52-ec0de908b3f5",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4h8RX7XbQa4zNPcN",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ac62d39-f00e-41f0-944c-475277df546a",
  "meta": {
    "instanceId": "9ce785761b4e818bb427f78610b7d73160eee24d142c9a20b60afbab015a048d"
  },
  "id": "vgTwPgtyCvsK4Eps",
  "tags": []
}