quest/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fcd64085-9de0-41de-b0ab-59c78f273ae2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "08b7d169-1e99-4429-9614-932bd5c9b1ad",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57922dd9-7473-4786-ba62-7cf3a05710da",
              "name": "유저아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "c361318e-87b4-4e41-aa5f-73706b61600e",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "3f3ab239-6861-4c1f-9854-245eda06184b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7093d5f-eab7-4662-b30c-ae3f164150c5",
  "meta": {
    "instanceId": "168cb662c38efdc5d5b88deec799786d5e576bb80e409e36b06c523d57d14422"
  },
  "id": "8zkYnSQzXM2PMtuJ",
  "tags": []
}