quest/My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1qRLCJOQ4tQaEQFTTT-1UeninITBtBj1j3_arFWkX-wo",
          "mode": "list",
          "cachedResultName": "Sample_종합 미디어 에이전시 서비스 가격 정책 안내의 사본",
          "cachedResultUrl": "https://docs.google.com/document/d/1qRLCJOQ4tQaEQFTTT-1UeninITBtBj1j3_arFWkX-wo/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -64
      ],
      "id": "b38c9d5a-5610-4321-8c31-46d3700c9dab",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nho4PKpb2D21QU0p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9722f6ef-a190-4598-9424-50ab7f9f3a36",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        -64
      ],
      "id": "a6f285db-4ca2-4223-a175-c67001d0ef9d",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGwjBupjQwCnR3YRKXhWfLCxty2YhTn71TFOSXdRbBI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        96
      ],
      "id": "7566f1b0-3339-47e5-b698-e4a8abc9fbdc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gHhqAlgzowYG7P5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용, 한 줄로 정리\n {{ $json['주요 긍정 피드백'] }}\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        96
      ],
      "id": "80c3a586-8907-4984-a61f-1bed00544668",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "PEKt5rjkbx4rDTbN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        96
      ],
      "id": "c77cd85d-5f51-48f1-a950-c4d0ab7712fb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TXBy7KVyHPMk7bA764c7Fvne39vcIXbrqRQeuJiqGRk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TXBy7KVyHPMk7bA764c7Fvne39vcIXbrqRQeuJiqGRk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한줄 정리": "={{ $json.content.parts[0].text }}",
            "date": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "file_name": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "한줄 정리",
              "displayName": "한줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        96
      ],
      "id": "3e86348f-198f-4a36-9a0b-887926235f9f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gHhqAlgzowYG7P5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yMhvvvZEhgvaLNyWNypiFmLuHPyrfmt4",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yMhvvvZEhgvaLNyWNypiFmLuHPyrfmt4"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        96
      ],
      "id": "14145b6b-f8d0-4d6e-a9a2-9ee067d9a1a1",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nho4PKpb2D21QU0p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용, 한 줄로 정리\n{{ $json.content }}\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -304
      ],
      "id": "a9ed5c96-3ac5-4bbf-972f-b2f0784490d3",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "PEKt5rjkbx4rDTbN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TXBy7KVyHPMk7bA764c7Fvne39vcIXbrqRQeuJiqGRk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TXBy7KVyHPMk7bA764c7Fvne39vcIXbrqRQeuJiqGRk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한줄 정리": "={{ $json.content.parts[0].text }}",
            "date": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "file_name": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한줄 정리",
              "displayName": "한줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -304
      ],
      "id": "5e4d525e-8de4-417f-9916-1a070dc6e0be",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gHhqAlgzowYG7P5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yMhvvvZEhgvaLNyWNypiFmLuHPyrfmt4",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yMhvvvZEhgvaLNyWNypiFmLuHPyrfmt4"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        -304
      ],
      "id": "f7504230-8f2a-4bd0-a5df-951356791b80",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nho4PKpb2D21QU0p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -624,
        -304
      ],
      "id": "440b2311-e926-4785-86eb-9d675683a878",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QElj9wCNMx4AjImd",
          "name": "Google Docs account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e290367-42a5-4565-83ba-77d201e5531d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2ff0680be649b1ac3a810dd1e4b97d1c97dc3d0fae069fcdfc94ccc179f3040"
  },
  "id": "DaeflW6H4TyCfr8h",
  "tags": []
}