quest/review_06_Storage_GoogleSheets.json
{
  "name": "review_06_Storage_GoogleSheets",
  "nodes": [
    {
      "parameters": {
        "formTitle": "기사요약",
        "formDescription": "기사 요약을 AI로 해줘. 그리고 대상자들에게 E-Mail 발송.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URI",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1088,
        -384
      ],
      "id": "6117cfb8-250c-4573-bbb0-6ffe986c1087",
      "name": "On form submission",
      "webhookId": "25c4dfc7-ab89-43a3-8928-9ee6b17ca97a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c0ab6d4-89db-4495-852e-9e9d0caab90b",
              "name": "URI",
              "value": "={{ $('On form submission').item.json.URI }}",
              "type": "string"
            },
            {
              "id": "d3a35286-4d85-48c6-b3a8-b43ad741be21",
              "name": "date",
              "value": "={{ $('On form submission').item.json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "2e9a7a31-2653-4e63-a2c0-f13c46971be1",
              "name": "key_valve",
              "value": "={{ $('On form submission').item.json.submittedAt }}{{ $('On form submission').item.json.URI }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -384
      ],
      "id": "419bd459-2760-4116-93ba-fdf51cc209a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 정리의 신이야.\n다음 기사를 읽고 정리해줘\n형식을 지켜줘\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n\n[ 정리 대상 기사 ]\n{{ $('HTTP Request').item.json.data }}\n\n**[출력 예시 구조 - JSON]**\n{\n  \"기사 제목\": TEXT,\n  \"100자내외 요약\": TEXT,\n  \"한줄평\": TEXT\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        -160
      ],
      "id": "224e947c-85dd-44c3-abe4-fc96123688ee",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xTkHAP1pN4N8zEX1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfdcfef-b065-4817-add1-1f8414020b92",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -160
      ],
      "id": "08de5131-7913-44bb-a11b-c55c74c467ef",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "기사요약": "={{ $json.text[\"100자내외 요약\"] }}",
            "한줄평": "={{ $json.text[\"한줄평\"] }}",
            "key_valve": "={{ $('Edit Fields').item.json.key_valve }}"
          },
          "matchingColumns": [
            "key_valve"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URI",
              "displayName": "URI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -160
      ],
      "id": "75f0acb7-056c-48cd-a11c-a621b638613e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"].join(\",\") }}\n",
        "subject": "=[테스트] n8n 컬럼 테스트입니다.",
        "message": "=[테스트] n8n 컬럼 테스트입니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -400,
        64
      ],
      "id": "508fadfd-127a-458a-b6b7-3c3e38cb0b84",
      "name": "Send a message",
      "webhookId": "33eb1267-8854-40d9-bfd6-a6fb6e0fcf98",
      "credentials": {
        "gmailOAuth2": {
          "id": "K1wwLxFKuumwm0Tl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        272
      ],
      "id": "c5f05d79-ac17-4fa6-8966-7805388262d9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "list",
          "cachedResultName": "Member_informations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        272
      ],
      "id": "32f89358-d137-41bf-826e-6042806a1148",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -432,
        272
      ],
      "id": "f0d41754-9ab6-4249-82a0-613c067c1f41",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"] }}",
        "subject": "[테스트] n8n 컬럼 테스트입니다.",
        "message": "[테스트] n8n 컬럼 테스트입니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -224,
        272
      ],
      "id": "e79c1ccb-b78d-4cb0-bea7-b2b722e08863",
      "name": "Send a message1",
      "webhookId": "9022ae87-ca90-40bf-9157-bad36cfffe21",
      "credentials": {
        "gmailOAuth2": {
          "id": "K1wwLxFKuumwm0Tl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URI }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -384
      ],
      "id": "8ad3228c-1ccd-43a7-b1af-b637f59d8986",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        64
      ],
      "id": "daba62bb-9429-4144-9dcb-1b390f340165",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            },
            {
              "fieldToAggregate": "이름"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -656,
        64
      ],
      "id": "d3c167b2-938d-45f0-966f-d9edf62d945d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "URI": "={{ $json.URI }}",
            "key_valve": "={{ $json.key_valve }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URI",
              "displayName": "URI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -384
      ],
      "id": "a0af43e9-60b0-4f76-ad7c-4971497a2086",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQpbKE7IJk2RGp4Wm3mDdzlvw24XXV6BBN_MJLmyD3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "대량 발송 여부": "={{ $('Aggregate1').item.json[\"google Email\"].join(\", \") }}",
            "key_valve": "={{ $('Update row in sheet').item.json.key_valve }}"
          },
          "matchingColumns": [
            "key_valve"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URI",
              "displayName": "URI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        64
      ],
      "id": "b7938944-86c8-4f32-a0ce-ab4c7bd0ef8b",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "주요사항",
        "height": 640,
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -416
      ],
      "id": "a9e9d12b-d84f-44b6-9028-0af091812293",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04c10845-4e6f-4492-b67d-39999fb6d6cf",
  "meta": {
    "instanceId": "168cb662c38efdc5d5b88deec799786d5e576bb80e409e36b06c523d57d14422"
  },
  "id": "Ji7W8hSs7v9DD1Gs",
  "tags": []
}