quest/study_08_storage_googlesheets.json
{
  "name": "study_08_storage_googlesheets",
  "nodes": [
    {
      "parameters": {
        "formTitle": "운세 보기",
        "formDescription": "당신의 운세를 열어줄게",
        "formFields": {
          "values": [
            {
              "fieldLabel": "MBTI",
              "placeholder": "예시)ESTJ, ENFP등등",
              "requiredField": true
            },
            {
              "fieldLabel": "Birthday",
              "placeholder": "생년원일",
              "requiredField": true
            },
            {
              "fieldLabel": "Gender",
              "placeholder": "성별",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "이름",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -720,
        -128
      ],
      "id": "e15bf3fc-558d-47f4-ab73-723c9168af7a",
      "name": "On form submission",
      "webhookId": "25c4dfc7-ab89-43a3-8928-9ee6b17ca97a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24538554-e3cc-43e2-8476-ff7d8dbf704a",
              "name": "MBTI",
              "value": "={{ $json.MBTI }}",
              "type": "string"
            },
            {
              "id": "3695f82a-aa81-4128-8ce3-4ef8e7aee51f",
              "name": "Birthday",
              "value": "={{ $json.Birthday }}",
              "type": "string"
            },
            {
              "id": "0ff237d1-b85c-469b-8c58-4284830aca90",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "f23773b2-9efe-4887-b497-6bc0c7f410c4",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "a3074998-6635-4b06-9792-3929746f03ac",
              "name": "submittedAt",
              "value": "={{ $json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "979b34d9-d0e1-4c11-a114-8d0542bb6d0b",
              "name": "formMode",
              "value": "={{ $json.formMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -128
      ],
      "id": "cf45d084-62db-443d-a110-81b27d31b617",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q",
          "mode": "list",
          "cachedResultName": "MBTI_ananlysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 112734887,
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q/edit#gid=112734887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MBTI": "={{ $json.MBTI }}",
            "Birthday": "={{ $json.Birthday }}",
            "Gender": "={{ $json.Gender }}",
            "Email": "={{ $json.Email }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "fromMode": "={{ $json.formMode }}",
            "keyValue": "={{ $json.submittedAt }}-{{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MBTI",
              "displayName": "MBTI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Birthday",
              "displayName": "Birthday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fromMode",
              "displayName": "fromMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sazoo",
              "displayName": "Sazoo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SazooScore",
              "displayName": "SazooScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiac",
              "displayName": "EastZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiacScore",
              "displayName": "EastZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiac",
              "displayName": "WestZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiacScore",
              "displayName": "WestZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_Weeky",
              "displayName": "Daily_Weeky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_WeekyScore",
              "displayName": "Daily_WeekyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentMail",
              "displayName": "SentMail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        -128
      ],
      "id": "49b1230c-4157-40f7-ac14-f93c95adb691",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=아래 정보를 기반으로 사주, 띠별 운세, 별자리 운세, 총론 및 각 항목 점수를 알려줘\n* MBTI :{{ $json.MBTI }} ,\n* 생년월일 : {{ $json.Birthday }},\n* 성별 :{{ $json.Gender }}\n참고\n* 키값 : {{ $json.keyValue }},\n* 오늘 날짜 : {{ $now }}\n당신은 전문적인 점성가이자 운세 상담가이며 MBTI 성향 분석에 대한 이해도가 높습니다. 사주명리학, 띠별 운세, 서양 별자리 등의 지식과 MBTI 이해를 바탕으로 종합적인 운세와 각 항목의 점수, 성향별 조언을 제공합니다.\n**[역할]**\n  - 사용자가 입력한 생년월일, 태어난 시각, 성별 등을 기준으로 사주팔자를 분석하고, 음양오행, 오행의 균형, 10신 등을 바탕으로 인생 전반 운세를 풀이합니다.\n  - 출생 연도를 기준으로 12지 띠 운세(쥐띠\\~돼지띠) 해석을 제공합니다.\n  - 생일과 태어난 시간을 기반으로 서양 별자리 및 상승궁까지 고려한 성격/운세 분석을 제공합니다.\n  - 각 내용에 대해서 가장 좋은 운세를 100점으로 가정하여 점수화합니다.\n  - MBTI를 고려하여 더욱 체계적이고 실용적인 내용을 전달합니다.\n  - 사주 관련해서는 필요 시 연결된 Google Sheet Tool을 활용합니다.\n**[응답 방식]**\n  - 단순한 정보 나열이 아닌 실제 상담사 처럼 따뜻하고 신뢰감 있는 어조로 가능한 상세하게 설명합니다.\n  - 전체 결과물의 분량은 200자 이상으로 구성해 주세요.\n  - 점수는 100점을 만점으로 1\\~100 사이 숫자(NUMBER)로 표현해 주세요.\n  - 해석은 사용자의 인생 전반을 존중하는 방향으로 하고, 부정적인 정보는 조심스럽고 중립적으로 표현합니다.\n  - 사용자가 요청한 운세 종류가 명확하지 않으면 추가 질문 없이 종합 운세를 제공합니다.\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n**[출력 예시 구조 - JSON]**\n{\n  \"사주 운세\": TEXT,\n  \"사주 운세 점수\": NUMBER,\n  \"띠별 운세\": TEXT,\n  \"띠별 운세 점수\": NUMBER,\n  \"별자리 운세\": TEXT,\n  \"별자리 운세 점수\": NUMBER,\n  \"오늘/이번 주 운세\": TEXT,\n  \"오늘/이번 주 운세 점수\": NUMBER,\n  \"총평 및 조언\": TEXT(MBTI 연관 내용 필수)\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        -128
      ],
      "id": "c2de261d-6c6c-4c48-8de6-5aa59b5bcd54",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xTkHAP1pN4N8zEX1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfdcfef-b065-4817-add1-1f8414020b92",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        80
      ],
      "id": "244be21b-09aa-46fa-ab87-a3c3e9752a46",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "286d91f1-46dc-4cb5-9088-133d2f99921b",
              "name": "Sazoo",
              "value": "={{ $json.text[\"사주 운세\"] }}",
              "type": "string"
            },
            {
              "id": "48a61b26-2be8-403c-bfd8-0b17e5e1a65a",
              "name": "SazooScore",
              "value": "={{ $json.text[\"사주 운세 점수\"] }}",
              "type": "number"
            },
            {
              "id": "3d5ab0e7-5ec1-4912-974d-0d6ff1f5932b",
              "name": "EastZodiac",
              "value": "={{ $json.text[\"띠별 운세\"] }}",
              "type": "string"
            },
            {
              "id": "8a4b2c85-ff55-45f0-a488-db2acda10b99",
              "name": "EastZodiacScore",
              "value": "={{ $json.text[\"띠별 운세 점수\"] }}",
              "type": "number"
            },
            {
              "id": "8feb51ba-0f7a-47e2-bce1-514e8a66b0c1",
              "name": "WestZodiac",
              "value": "={{ $json.text[\"별자리 운세\"] }}",
              "type": "string"
            },
            {
              "id": "1be7be46-f889-4c46-85c6-6bf798b4d327",
              "name": "WestZodiacScore",
              "value": "={{ $json.text[\"별자리 운세 점수\"] }}",
              "type": "number"
            },
            {
              "id": "38452919-a181-41a5-8d70-143cf71c9c08",
              "name": "Daily_Weeky",
              "value": "={{ $json.text[\"오늘/이번 주 운세\"] }}",
              "type": "string"
            },
            {
              "id": "61f3551c-5731-42ae-ae4e-436ce275839b",
              "name": "Daily_WeekyScore",
              "value": "={{ $json.text[\"오늘/이번 주 운세 점수\"] }}",
              "type": "number"
            },
            {
              "id": "1ae3e89d-bb17-4b95-bab1-1bdafdde2ed3",
              "name": "Summary",
              "value": "={{ $json.text[\"총평 및 조언\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        80
      ],
      "id": "7790854c-2f9a-46dd-a142-d45eba182d09",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q",
          "mode": "list",
          "cachedResultName": "MBTI_ananlysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 112734887,
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T0dMvW6LJF6yP6sLeqSGikB71s4AF8DaD_FKdSGkS8Q/edit#gid=112734887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sazoo": "={{ $json.Sazoo }}",
            "SazooScore": "={{ $json.SazooScore }}",
            "EastZodiac": "={{ $json.EastZodiac }}",
            "EastZodiacScore": "={{ $json.EastZodiacScore }}",
            "WestZodiac": "={{ $json.WestZodiac }}",
            "WestZodiacScore": "={{ $json.WestZodiacScore }}",
            "Daily_Weeky": "={{ $json.Daily_Weeky }}",
            "Daily_WeekyScore": "={{ $json.Daily_WeekyScore }}",
            "Summary": "={{ $json.Summary }}",
            "keyValue": "={{ $('Append row in sheet').item.json.keyValue }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "MBTI",
              "displayName": "MBTI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Birthday",
              "displayName": "Birthday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fromMode",
              "displayName": "fromMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sazoo",
              "displayName": "Sazoo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SazooScore",
              "displayName": "SazooScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiac",
              "displayName": "EastZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiacScore",
              "displayName": "EastZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiac",
              "displayName": "WestZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiacScore",
              "displayName": "WestZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_Weeky",
              "displayName": "Daily_Weeky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_WeekyScore",
              "displayName": "Daily_WeekyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentMail",
              "displayName": "SentMail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        80
      ],
      "id": "036cfe20-a7d1-4d8d-8cea-75ac64d4e85b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "=[Test]  {{ $('Append row in sheet').item.json.Birthday }} 탄생한 당신의 운세입니다.",
        "message": "=사주 : {{ $('Edit Fields2').item.json.Sazoo }}\n사주운세 점수 :{{ $('Edit Fields2').item.json.SazooScore }}\n띠별운세 : {{ $('Edit Fields2').item.json.EastZodiac }}\n띠별운세 점수 : {{ $('Edit Fields2').item.json.EastZodiacScore }}\n별자리 운세 :{{ $('Edit Fields2').item.json.WestZodiac }}\n별자리운세 점수 :{{ $('Edit Fields2').item.json.WestZodiacScore }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -64,
        80
      ],
      "id": "cbfbbe6e-83c6-498b-b948-ecd8a38a0368",
      "name": "Send a message",
      "webhookId": "33eb1267-8854-40d9-bfd6-a6fb6e0fcf98",
      "credentials": {
        "gmailOAuth2": {
          "id": "K1wwLxFKuumwm0Tl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        352
      ],
      "id": "d1fbe0c4-bba9-4448-b82e-ba0db7b5af51",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "list",
          "cachedResultName": "Member_informations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        352
      ],
      "id": "304a680d-ef77-4b10-963b-33a1a7de04c7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qJTXcPrZDT9kOKos",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -336,
        352
      ],
      "id": "0543edeb-6a46-4d43-8762-186d9841e1f6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"] }}",
        "subject": "[테스트] n8n 컬럼 테스트입니다.",
        "message": "[테스트] n8n 컬럼 테스트입니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -128,
        352
      ],
      "id": "aa76fdf5-eeab-4c57-a677-40e638526172",
      "name": "Send a message1",
      "webhookId": "9022ae87-ca90-40bf-9157-bad36cfffe21",
      "credentials": {
        "gmailOAuth2": {
          "id": "K1wwLxFKuumwm0Tl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"사주 운세\": \"고객님의 사주는 경술년 기축월 무인일에 태어나셨습니다. 듬직한 대지(戊土)의 기운을 가지고 계시어, 매사에 신중하고 책임감이 강한 분이십니다. 주변 사람들에게 믿음을 주고 꾸준히 노력하여 목표를 달성하는 능력이 탁월합니다. 다만, 때로는 본인의 뜻을 굽히지 않는 고집스러운 면모가 드러날 수 있으니, 유연한 사고와 타인의 의견을 경청하는 태도가 필요합니다. 재물운은 안정적이며, 명예를 중요하게 생각하는 경향이 있습니다. 올해는 새로운 변화를 모색하기 좋은 시기이니, 과감한 도전을 해보시는 것도 좋습니다.\",\n  \"사주 운세 점수\": 85,\n  \"띠별 운세\": \"개띠이신 고객님은 타고난 성실함과 의리, 강한 책임감으로 주변에 좋은 영향을 주시는 분입니다. 2025년 을사년은 새로운 변화와 기회가 찾아오는 해입니다. 특히 인간관계에서 귀인을 만나거나 뜻밖의 도움을 받을 수 있는 시기입니다. 다만, 급하게 서두르기보다는 한 걸음 한 걸음 신중하게 나아가는 것이 중요합니다. 건강 관리에도 유의하시고, 스트레스 해소에 신경 써주세요.\",\n  \"띠별 운세 점수\": 80,\n  \"별자리 운세\": \"염소자리이신 고객님은 현실적이고 목표 지향적인 성향으로, 어떤 일이든 계획적으로 완수해내는 능력이 탁월합니다. 2025년 10월 21일 현재, 별자리 운세는 목표를 향해 꾸준히 나아가기에 좋은 기운이 흐르고 있습니다. 특히 직업적 성취나 재정적인 안정에 긍정적인 영향을 미칠 수 있습니다. 다만, 때로는 너무 현실에 얽매여 감성적인 부분을 소홀히 할 수 있으니, 주변 사람들과의 소통과 여유로운 시간도 중요합니다.\",\n  \"별자리 운세 점수\": 88,\n  \"오늘/이번 주 운세\": \"2025년 10월 21일 오늘, 고객님께서는 전반적으로 안정적인 기운 속에서 새로운 아이디어나 업무에 대한 열정이 샘솟을 수 있습니다. 오랫동안 고민하던 문제의 해결책을 찾을 수도 있으며, 주변 사람들과의 협력을 통해 좋은 결과를 얻을 수 있습니다. 재정적으로는 불필요한 지출을 삼가고, 장기적인 관점에서 계획을 세우는 것이 현명합니다. 이번 한 주는 특히 자신의 내면을 돌아보고 앞으로 나아갈 방향을 설정하기에 좋은 때입니다.\",\n  \"오늘/이번 주 운세 점수\": 82,\n  \"총평 및 조언\": \"고객님께서는 대지의 기운처럼 듬직하고 책임감 강하며, 목표를 향해 끈기 있게 나아가는 매력이 넘치는 분이십니다. 염소자리와 개띠의 특성까지 더해져, 한 번 결정한 일은 끝까지 해내는 강한 의지를 가지고 계십니다. 이러한 장점은 사회생활과 개인적인 목표 달성에 큰 힘이 될 것입니다. MBTI 성향 분석에 따르면, 어떤 유형이든 자신의 강점을 이해하고 약점을 보완하려 노력할 때 가장 큰 성장을 이룰 수 있습니다. 고객님께서 어떤 MBTI 유형이시든, 본인의 내향적/외향적 성향, 사고/감정 유형 등을 잘 파악하시어 의사결정 시 이를 적극적으로 활용하시면 더욱 지혜로운 선택을 할 수 있습니다. 특히, 때로는 지나치게 완벽을 추구하거나 고집을 부릴 수 있으니, 유연한 마음으로 타인의 조언을 받아들이고 휴식을 통해 재충전하는 시간을 가지는 것이 중요합니다. 앞으로도 고객님의 밝은 미래를 응원합니다.\"\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33abead2-0839-4007-bb6f-5ba8ccb30894",
  "meta": {
    "instanceId": "168cb662c38efdc5d5b88deec799786d5e576bb80e409e36b06c523d57d14422"
  },
  "id": "D2IO6TYAJ0Ex0Wz3",
  "tags": []
}